<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<header class="bg-image-full py-5" style="background-image: url('assets/pictures/couple1.jpeg')">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white mb-2">Are you ready to take your dating profiles to another level?</h1>
<!--          <p class="lead text-white-50 mb-4">Fill out our form to start the process.</p>-->
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a class="btn btn-outline-light btn-lg px-4 me-sm-3" routerLink="/service-request/add" style="margin-top:20px">Get Started</a>
<!--            <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Features section-->
<section class="py-5 border-bottom" id="features">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-10 mb-5 mb-lg-0">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="bi bi-collection"></i>
        </div>
<!--        <h2 class="h4 fw-bolder">Featured title</h2>-->
        <p class="lead">As someone who has worked for dating apps, written about them extensively, and coached clients on apps since 2017, I know how hard it can be navigating the world of online dating. I have also used the apps myself, so believe me, I know exactly what it’s like!</p>
        <p class="lead fw-bolder">I recommend this service if you:</p>
        <ul class="lead">
          <li>Have a hard time getting matches</li>
          <li>Get matches, but don’t usually know what to say in messages</li>
          <li>Find your conversations falling flat after one or two messages</li>
        </ul>
        <p class="lead">If any of these are true, there’s no shame at all! Online dating is HARD! That’s why I’m here to help!</p>
      </div>
    </div>
  </div>
</section>
<!-- Pricing section-->
<section class="bg-light py-5 border-bottom">
  <div class="container px-5 my-5">
    <div class="text-center mb-5">
      <h2 class="fw-bolder">Pick your plan.</h2>
<!--      <p class="lead mb-0">With our no hassle pricing plans</p>-->

    </div>
    <div class="row gx-5 justify-content-center">
      <!-- Pricing card free-->
      <div class="col-lg-6 col-xl-4">
        <div class="card mb-5 mb-xl-0">
          <div class="card-body p-5">
            <div class="small text-uppercase fw-bold text-muted">First Date</div>
            <div class="mb-3">
              <span class="display-4 fw-bold">$50</span>
              <span class="text-muted">/ one time.</span>
            </div>
            <ul class="list-unstyled mb-4">
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                <strong>3 day delivery time</strong>
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                Editing and rewriting profiles on up to 2 sites
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                Photo selection and order suggestion
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                Personalized dating app advice
<!--              </li>-->
<!--              <li class="mb-2 text-muted">-->
<!--                <i class="bi bi-x"></i>-->
<!--                Unlimited private projects-->
<!--              </li>-->
<!--              <li class="mb-2 text-muted">-->
<!--                <i class="bi bi-x"></i>-->
<!--                Dedicated support-->
<!--              </li>-->
<!--              <li class="mb-2 text-muted">-->
<!--                <i class="bi bi-x"></i>-->
<!--                Free linked domain-->
<!--              </li>-->
<!--              <li class="text-muted">-->
<!--                <i class="bi bi-x"></i>-->
<!--                Monthly status reports-->
<!--              </li>-->
            </ul>
            <div class="d-grid">
              <a class="btn btn-outline-dark" routerLink="/service-request/add">Choose plan</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Pricing card pro-->
      <div class="col-lg-6 col-xl-4">
        <div class="card mb-5 mb-xl-0">
          <div class="card-body p-5">
            <div class="small text-uppercase fw-bold">
              <i class="bi bi-star-fill text-warning"></i>
              Getting Serious
            </div>
            <div class="mb-3">
              <span class="display-4 fw-bold">$100</span>
              <span class="text-muted">/ one time.</span>
            </div>
            <ul class="list-unstyled mb-4">
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                <strong>2 day delivery time</strong>
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                Matching users and starting conversations on your behalf
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                Photo selection and order suggestion
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                Personalized dating app advice
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                Advice for how to match and message users in the future
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                Editing and rewriting profiles on up to 3 sites
              </li>
<!--              <li class="mb-2">-->
<!--                <i class="bi bi-check text-primary"></i>-->
<!--                Free linked domain-->
<!--              </li>-->
<!--              <li class="text-muted">-->
<!--                <i class="bi bi-x"></i>-->
<!--                Monthly status reports-->
<!--              </li>-->
            </ul>
            <div class="d-grid"><a class="btn btn-dark" routerLink="/service-request/add">Choose plan</a></div>
          </div>
        </div>
      </div>
      <!-- Pricing card enterprise-->
      <div class="col-lg-6 col-xl-4">
        <div class="card">
          <div class="card-body p-5">
            <div class="small text-uppercase fw-bold text-muted">The Real Deal</div>
            <div class="mb-3">
              <span class="display-4 fw-bold">$150</span>
              <span class="text-muted">/ one time.</span>
            </div>
            <ul class="list-unstyled mb-4">
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                <strong>24 hour delivery time</strong>
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                Matching users and starting conversations on your behalf
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                Photo selection and order suggestion
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                Photo retouch
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                Advice for how to match and message users in the future
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                Editing and rewriting profiles on up to 3 sites
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                <strong>Unlimited</strong>
                Personalized dating app advice
              </li>
<!--              <li class="text-muted">-->
<!--                <i class="bi bi-check text-primary"></i>-->
<!--                Monthly status reports-->
<!--              </li>-->
            </ul>
            <div class="d-grid"><a class="btn btn-outline-dark" routerLink="/service-request/add">Choose plan</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonials section-->
<section class="py-5 border-bottom">
  <div class="container px-5 my-5 px-5">
    <div class="text-center mb-5">
      <h2 class="fw-bolder">Customer testimonials</h2>
      <p class="lead mb-0">Our customers love working with us</p>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <!-- Testimonial 1-->
        <div class="card mb-4">
          <div class="card-body p-4">
            <div class="d-flex">
              <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
              <div class="ms-4">
                <p class="mb-1">"She was great, quick and wonderful to work with. Looking forward to trying out these new profiles"</p>
                <div class="small text-muted">- Sheila, Chicago</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Testimonial 2-->
        <div class="card">
          <div class="card-body p-4">
            <div class="d-flex">
              <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
              <div class="ms-4">
                <p class="mb-1">"Extraordinary professional! Terrific support from start to finish and brought a lot of great ideas. Great and creative writer! Very easy to work with and made sure that the deliverable is exactly what I needed. Definitely recommend!"</p>
                <div class="small text-muted">- Barry, California</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; ReadyJessGo 2022</p></div>
</footer>
