<header class="py-5 bg-image-full" style="background-image: url('assets/pictures/fullwidth1.jpeg')">
  <div class="text-center my-5">
    <img class="img-fluid rounded-circle mb-4" src="assets/pictures/Jessica Headshot2_150x150.jpeg" alt="..." />
    <h1 class="text-white fs-3 fw-bolder">Jessica Nemire</h1>
  </div>
</header>
<!-- Content section-->
<section class="py-5">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2>About Me</h2>
        <p class="mb-0">I’m Jess. I’ve been traveling and writing about it since 2011. I’ve had a lot of unusual adventures, so I have a lot of things to write about.</p>
        <br>
        <p class="mb-0">I’ve danced up and down the white beaches of the Bahamas dressed in a banana suit. I spent a summer Couchsurfing around Europe. I’ve stayed in hostels all over the world, made countless new friends, slept on airport floors, and taken more overnight buses than I can count. I also know a lot of travel tips and tricks that I love to share with my readers. My writing has appeared in more than 30 publications, most notably the Huffington Post and Fodor’s Travel Guide!</p>
        <br>
        <p class="mb-0">Since 2014, I have also been writing about dating and relationships since 2014. I wrote a weekly dating column for a year, and consequently am not only familiar with most of the dating apps and sites that currently exist, but have also personally interviewed the founder and/or CEO of almost every dating site or app that came out of the San Francisco Bay Area in that time. (Trust me, there are a lot.)</p>
        <br>
        <p class="mb-0">I also ended up working for one of the dating apps whose founders I interviewed, so I know how dating apps work from the other side as well. Since 2017, I have been using my experience in the dating app industry to edit dating apps for clients, using my experience.</p>
        <br>
        <p class="mb-0">I hope my travel tales and tips help inspire your next adventure - maybe with a new partner by your side.</p>
        <br>
        <p class="mb-0">Love,</p>
        <br>
        <p class="mb-0">Jess.</p>
        <br>
        <br>
        <p class="">Contact at: jessica.nemire@readyjessgo.net</p>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; ReadyJessGo 2022</p></div>
</footer>
