<section class="bg-light py-5">
  <div class="container px-5 my-5 px-5">
    <div class="text-center mb-5">
      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
      <h2 class="fw-bolder">Service Request</h2>
      <p class="lead mb-0">Request the guidance of Jessica and her team regarding your dating app profiles, for a bigger impact</p>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <form id="contactForm" #srForm="ngForm" (ngSubmit)="createSR(srForm)">


          <!-- Name input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" ngModel name="name" />
            <label for="name">Name</label>
            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
          </div>
          <!-- Email address input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" ngModel name="email"/>
            <label for="email">Email address</label>
            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
          </div>
          <!-- City-->
          <div class="form-floating mb-3">
            <textarea class="form-control" id="city" type="text" placeholder="Enter your message here..." data-sb-validations="required" ngModel name="location"></textarea>
            <label for="city">City</label>
            <div class="invalid-feedback" data-sb-feedback="message:required">A city is required.</div>
          </div>
          <!-- Purpose input-->
          <div class="form-floating mb-3">
            <textarea class="form-control" id="purpose" type="text" placeholder="Enter your message here..." style="height: 7rem" data-sb-validations="required" ngModel name="purpose"></textarea>
            <label for="purpose">Are you looking for a long term relationship or not so much?</label>
            <div class="invalid-feedback" data-sb-feedback="message:required">Long term, one night thing or open to anything?</div>
          </div>
          <!-- Partner Characteristics input-->
          <div class="form-floating mb-3">
            <textarea class="form-control" id="partnerCaracteristics" type="text" placeholder="Enter your message here..." style="height: 7rem" data-sb-validations="required" ngModel name="partnerCaracteristics"></textarea>
            <label for="partnerCaracteristics">What qualities you are looking to find in your partner?</label>
            <div class="invalid-feedback" data-sb-feedback="message:required">Some qualities are necessary.</div>
          </div>
          <!-- Fun facts input-->
          <div class="form-floating mb-3">
            <textarea class="form-control" id="funFacts" type="text" placeholder="Enter your message here..." style="height: 7rem" data-sb-validations="required" ngModel name="funFact"></textarea>
            <label for="funFacts">What are some fun facts about you?</label>
            <div class="invalid-feedback" data-sb-feedback="message:required">We need some fun facts to work with.</div>
          </div>
          <!-- Hobbies input-->
          <div class="form-floating mb-3">
            <textarea class="form-control" id="hobbies" type="text" placeholder="Enter your message here..." style="height: 7rem" data-sb-validations="required" ngModel name="hobbies"></textarea>
            <label for="hobbies">What are some of your hobbies?</label>
            <div class="invalid-feedback" data-sb-feedback="message:required">You definitely have at least one hobby.</div>
          </div>

          <!-- Submit Button-->
          <div class="d-grid">
            <button class="btn btn-primary" id="submitButton" type="submit">Submit</button>
          </div>

          <!-- Submit success message-->
          <!---->
          <!-- This is what your users will see when the form-->
          <!-- has successfully submitted-->
          <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3">
              <div class="fw-bolder">Form submission successful!</div>
              To activate this form, sign up at
              <br />
              <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
            </div>
          </div>
          <!-- Submit error message-->
          <!---->
          <!-- This is what your users will see when there is-->
          <!-- an error submitting the form-->
          <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
        </form>
      </div>
    </div>
  </div>
</section>
