<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<section class="bg-light py-5">
  <div class="container px-5 my-5 px-5">
    <div class="text-center mb-5">
      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
      <h2 class="fw-bolder">Service Request</h2>
      <p class="lead mb-0">Request the guidance of Jess and her team for a bigger impact of your dating Apps profiles</p>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <form id="contactForm" #srForm="ngForm" (ngSubmit)="createSR(srForm)">

          <!-- Name input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" ngModel name="name" required/>
            <label for="name">Name</label>
            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
          </div>
          <!-- Email address input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" ngModel name="email" required/>
            <label for="email">Email address</label>
          </div>
          <!-- City-->
          <div class="form-floating mb-3">
            <textarea class="form-control" id="city" type="text" placeholder="Enter your message here..." data-sb-validations="required" ngModel name="location" required></textarea>
            <label for="city">City</label>
          </div>
          <!-- Purpose input-->
          <div class="form-floating mb-3">
            <textarea class="form-control" id="purpose" type="text" placeholder="Enter your message here..." style="height: 7rem" data-sb-validations="required" ngModel name="purpose" required></textarea>
            <label for="purpose">Are you looking for a long term relationship or not so much?</label>
          </div>
          <!-- Partner Characteristics input-->
          <div class="form-floating mb-3">
            <textarea class="form-control" id="partnerCaracteristics" type="text" placeholder="Enter your message here..." style="height: 7rem" data-sb-validations="required" ngModel name="partnerCaracteristics" required></textarea>
            <label for="partnerCaracteristics">What qualities you are looking to find in your partner?</label>
          </div>
          <!-- Fun facts input-->
          <div class="form-floating mb-3">
            <textarea class="form-control" id="funFacts" type="text" placeholder="Enter your message here..." style="height: 7rem" data-sb-validations="required" ngModel name="funFact" required></textarea>
            <label for="funFacts">What are some fun facts about you?</label>
          </div>
          <!-- Hobbies input-->
          <div class="form-floating mb-3">
            <textarea class="form-control" id="hobbies" type="text" placeholder="Enter your message here..." style="height: 7rem" data-sb-validations="required" ngModel name="hobbies" required></textarea>
            <label for="hobbies">What are some of your hobbies?</label>
          </div>

          <!-- Submit Button-->
          <div class="d-grid">
            <button [disabled]="srForm.invalid" class="btn btn-primary" id="submitButton" type="submit">Submit</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
